<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/header :: head('Etiquetas')"></head>

<body>
<div th:replace="/fragments/cabecera"></div>
<main>
    <div th:replace="/fragments/cuentaatras"></div>
    <div th:replace="/fragments/botonCss"></div>

    <div class="container mt-5">
        <h2 class="text-center mb-4">Gestión de Etiquetas</h2>

        <!-- Formulario para crear una etiqueta -->
        <form th:action="@{crearEtiquetas}" method="post" th:object="${nuevaEtiqueta}" class="mb-4">
            <div class="mb-3">
                <label for="texto" class="form-label fw-bold">Nombre de la Etiqueta:</label>
                <input type="text" id="texto" th:field="*{texto}" class="form-control" required/>
            </div>
            <button type="submit" class="btn btn-primary w-100">Crear</button>
        </form>

        <!-- Mensaje de error -->
        <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

        <!-- Lista de etiquetas existentes -->
        <h3 class="mt-4 mb-3">Etiquetas Definidas:</h3>
        <ul class="list-group mb-4">
            <li class="list-group-item" th:each="etiqueta : ${etiquetas}">
                <span th:text="${etiqueta.texto}"></span>
            </li>
        </ul>

        <a href="/dashboard/submenu-etiquetado" class="btn btn-secondary w-100">Volver al menú de etiquetado</a>
    </div>
</main>
<div th:replace="/fragments/pie"></div>
</body>
</html>
