<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head('Eliminar Etiquetas')"></head>

<body>
<div th:replace="/fragments/cabecera"></div>
<div th:replace="/fragments/cuentaatras"></div>
<div th:replace="/fragments/botonCss"></div>
<h1>Eliminar etiquetas a un subordinado</h1>

<!--Formulario 1: Seleccionar empleado (GET) -->
<form th:action="@{/etiquetado/eliminar}" method="get">
    <label for="empleado">Empleado:</label>                                <!--cuando se selecciona empleado-->
    <select id="empleado" name="empleadoId" onchange="this.form.submit()"> <!--usa el this.form.submit para hacer la llamada a gert-->
        <option disabled selected value="">Selecciona un empleado</option>
        <th:block th:each="empleado : ${empleados}">
            <option th:value="${empleado.id}"
                    th:text="${empleado.apellido + ', ' + empleado.nombre}"
                    th:selected="${empleado.id == empleadoSeleccionado?.id}">
            </option>
        </th:block>
    </select>
</form>

<br><br>

<!--Formulario 2: Eliminar etiquetas (POST) -->
<form th:action="@{/etiquetado/eliminar}" method="post" th:if="${empleadoSeleccionado != null}">
    <!-- Campo oculto para saber a qué empleado quitarle las etiquetas -->
    <input type="hidden" name="empleadoId" th:value="${empleadoSeleccionado.id}"/>

    <label for="etiquetas">Etiquetas asignadas al empleado:</label><br>
    <select id="etiquetas" name="etiquetasIds" multiple size="5">
        <th:block th:each="etiqueta : ${etiquetasAsignadas}">
            <option th:value="${etiqueta.id}" th:text="${etiqueta.texto}"></option>
        </th:block>
    </select>

    <br><br>
    <button type="submit">Eliminar etiquetas seleccionadas</button>
</form>
<a href="/dashboard/submenu-etiquetado" class="btn btn-secondary w-100">Volver al menu de etiquetado</a>
<div th:replace="/fragments/pie"></div>
</body>
</html>

