<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="fragments/header :: head('Mis detalles')"></head>

<body>
<div th:replace="/fragments/cabecera"></div>
<main>
    <div th:replace="/fragments/cuentaatras"></div>
<div class="absoluto mt-5">
    <div class="container">
        <!-- Título -->
        <div class="row align-items-center">
            <div class="col-2"></div>
            <div class="col">
                <h1 class="text-center mb-4">Detalles del usuario</h1>
            </div>
            <div class="col-2"></div>
        </div>

        <!-- Información del usuario -->
        <div class="mb-3">
            <h2>Usuario</h2>
            <p><strong>Email:</strong> <span th:text="${usuario.email}"></span></p>
            <p><strong>Contraseña:</strong> <span th:text="${usuario.contrasena}"></span></p>
            <p><strong>Foto Usuario:</strong></p>
            <img th:src="@{'/imagenes/' + ${nombreFoto}}" alt="Foto del usuario" class="img-thumbnail" style="max-width: 200px;" />
        </div>

        <!-- Información del empleado -->
        <div class="mb-3">
            <h2>Empleado</h2>
            <h3>Personal</h3>
            <p><strong>Nombre:</strong> <span th:text="${empleado.paso1PersonalDTO.nombre}"></span></p>
            <p><strong>Fecha de nacimiento:</strong> <span th:text="${empleado.paso1PersonalDTO.fechaNacimiento}"></span></p>
            <p><strong>Género:</strong> <span th:text="${nombreGenero}"></span></p>
        </div>

        <div class="mb-3">
            <h3>Empresarial</h3>
            <p><strong>Departamento:</strong> <span th:text="${nombreDepartamento}"></span></p>
        </div>

        <!-- Botón de regreso -->
        <a href="/dashboard/dashboard" class="btn btn-secondary w-100">Volver al dashboard</a>
    </div>
</div>
</main>
<div th:replace="/fragments/pie"></div>
</body>
</html>
