<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="fragments/header :: head('Empleado Dashboard')"></head>

<body>
<div th:replace="/fragments/cabecera"></div>
<main>
    <div th:replace="/fragments/cuentaatras"></div>
<div class="absoluto mt-5">
    <div class="container">
        <!-- Título -->
        <div class="row align-items-center mb-4">
            <div class="col-2"></div>
            <div class="col text-center">
                <h1>Panel de Empleado</h1>
            </div>
            <div class="col-2"></div>
        </div>

        <!-- Contenido del dashboard -->
        <div class="mb-3">
            <p>Sesión iniciada como: <strong><span th:text="${empleado.getPaso1PersonalDTO.nombre}"></span></strong></p>
        </div>
        <div th:replace="/fragments/numinisesion"></div>
        <form th:action="@{/login/logout}" method="get">
            <div class="d-grid gap-2 mb-3">
                <a href="/dashboard/detalle" class="btn btn-primary">Ver mis detalles</a>
                <a href="/dashboard/buscar" class="btn btn-primary">Buscar</a>
                <a href="/dashboard/submenu-etiquetado" class="btn btn-primary">Etiquetados/subordinados</a>
                <button type="submit" class="btn btn-danger">Cerrar sesión</button>
            </div>
        </form>
    </div>
</div>
</main>
<div th:replace="/fragments/pie"></div>
</body>
</html>
