<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/header :: head('Etiquetado')"></head>

<body>
    <div th:replace="/fragments/cabecera"></div>
    <div th:replace="/fragments/cuentaatras"></div>
    <div th:replace="/fragments/botonCss"></div>
    <h1>etiquetado empleado</h1>
    <!--select de empleados-->
    <form th:action="@{/etiquetado}" method="post">
          <label for="empleados">Selecciona empleados:</label><br>
          <select id="empleados" name="empleados" multiple size="4">
            <th:block th:each="empleado : ${empleados}">
              <option th:value="${empleado.id}" th:text="${empleado.apellido + ', ' + empleado.nombre}"></option>
            </th:block>
          </select>

        <br><br>

        <!--barra para buscar la etiqueta-->
        <label for="etiquetas">Selecciona etiquetas:</label><br>
        <input type="text" id="buscador" placeholder="Buscar etiqueta..." onkeyup="filtrarEtiquetas()"><br> <!--llama a la funcion cada vez que el usuario levante la trecla-->

        <select id="etiquetas" name="etiquetas" multiple size="4">
            <th:block th:each="etiqueta : ${etiquetas}">
                <option th:value="${etiqueta.id}" th:text="${etiqueta.texto}"></option>
            </th:block>
        </select>

        <br><br>
        <button type="submit">Asignar etiquetas</button>
        <a href="/dashboard/submenu-etiquetado" class="btn btn-secondary w-100">Volver al menu de etiquetado</a>
    </form>

<!-- JS para filtrar etiquetas por texto -->
<script>
    function filtrarEtiquetas() {
        let input = document.getElementById("buscador"); //mete en input el buscador
        let filtro = input.value.toLowerCase(); //pasa lo que haya en buscador a minusculas
        let opciones = document.getElementById("etiquetas").options; //mete el select de etiquetas en opciones

        for (let i = 0; i < opciones.length; i++) { //hace un bucle sobre todas las opciones
            let texto = opciones[i].text.toLowerCase();  //pasa lo que haya en opciones a minuscula
            opciones[i].style.display = texto.includes(filtro) ? "" : "none";  //oculta ("none") o muestr ("") la opcion segun si esta en lo escrito por el usuario
        }
    }
</script>
<div th:replace="/fragments/pie"></div>
</body>
</html>