<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head('Buscar Empleado')"></head>

<body>
<div th:replace="/fragments/cabecera"></div>
<main>
    <div th:replace="/fragments/cuentaatras"></div>
    <div th:replace="/fragments/botonCss"></div>
    <div class="container mt-5">
        <h2>Buscar Empleado por Nombre</h2>


        <form th:action="@{/buscar}" method="post">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre:</label>
                <input type="text" id="nombre" name="nombre" th:value="${nombre}" class="form-control"/>
            </div>

            <div class="mb-3">
                <label for="genero" class="form-label">Género:</label>
                <select id="genero" name="genero" class="form-control">
                    <option value="">Seleccione un género</option>
                    <option th:each="genero : ${generos}" th:value="${genero.id}"
                            th:text="${genero.identidad}"
                            th:selected="${genero.id == selectedGeneroId}"></option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary mt-4">Buscar</button>
            <a href="/dashboard" class="btn btn-secondary w-100 mt-4 mb-4">Volver al dashboard</a>
        </form>

        <div th:if="${mensaje}" class="alert alert-success" role="alert" th:text="${mensaje}"></div>
        <div class="mb-5">
            <h4 th:if="${#lists.isEmpty(resultados)}">No se encontraron empleados.</h4>

            <ul th:if="${!#lists.isEmpty(resultados)}" class="list-group mt-3">
                <li class="list-group-item d-flex justify-content-between align-items-center"
                    th:each="empleado : ${resultados}">
                    <span th:text="${empleado.nombre}"></span>
                    <span th:text="${empleado.usuario.estadoBloqueado ? 'Bloqueado' : 'Desbloqueado'}"
                          th:class="${empleado.usuario.estadoBloqueado ? 'text-danger fw-bold' : 'text-success fw-bold'}">
                    </span>
                    <div>
                        <form th:action="@{/bloquear}" method="post" style="display:inline;"
                              onsubmit="return confirmarBloqueo(this);">
                            <input type="text" name="motivoBloqueo" placeholder="Motivo de bloqueo"/>
                            <input type="hidden" name="empleadoId" th:value="${empleado.id}"/>
                            <button type="submit" class="btn btn-sm btn-danger">Bloquear</button>
                        </form>

                        <form th:action="@{/desbloquear}" method="post" style="display:inline;"
                              onsubmit="return confirmarDesbloqueo();">
                            <input type="hidden" name="empleadoId" th:value="${empleado.id}"/>
                            <button type="submit" class="btn btn-sm btn-success">Desbloquear</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>
<div th:replace="/fragments/pie"></div>
</body>
</html>