<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consulta de empleados</title>
</head>
<body>
<div th:replace="/fragments/cabecera"></div>
<main>
<div class="absoluto mt-5">
    <div class="container">
        <!-- Título -->
        <div class="row align-items-center">
            <div class="col-2"></div>
            <div class="col">
                <h1 class="text-center mb-2">Lista de usuarios bloqueados</h1>
            </div>
            <div class="col-2"></div>
        </div>

        <!-- Introducir contraseña -->
        <div class="container">
            <h2>Lista de Empleados</h2>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="empleado : ${empleados}">
                        <td th:text="${empleado.id}"></td>
                        <td th:text="${empleado.nombre}"></td>
                        <td th:text="${empleado.email}"></td>
                        <td th:text="${empleado.departamento}"></td>
                        <td th:text="${empleado.puesto}"></td>
                        <td th:text="${empleado.salario}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</main>
<div th:replace="/fragments/pie"></div>
</body>
</html>