<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Login - Contraseña</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script th:src="@{/js/script.js}"></script>
</head>

<body>
<div class="absoluto mt-5">
    <div class="container">
        <!-- Título -->
        <div class="row align-items-center">
            <div class="col-2"></div>
            <div class="col">
                <h1 class="text-center mb-2">Login - Contraseña</h1>
            </div>
            <div class="col-2"></div>
        </div>

        <!-- Formulario de Registro -->
        <form th:action="@{/login/password}" method="post">
            <input type="hidden" name="susuario" th:value="${susuario}" />
            <div class="mb-3">
                <label for="contrasena" class="form-label">Contraseña</label>
                <input type="password" id="contrasena" name="contrasena" class="form-control">
            </div>
            <input type="checkbox" id="mostrarcontrasena" onclick="script()"> Mostrar contraseña
            <button type="submit" class="btn btn-primary w-100 mt-3">Iniciar sesión</button>
        </form>

        <a href="/login/recuperación" class="btn btn-secondary w-100 mt-3">¿Has olvidado la contraseña?</a>
        <!-- Mensaje de error (si existe) -->
        <p th:if="${error}" th:text="${error}" class="error-message"></p>
    </div>
</div>
</body>
</html>
