<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head('Login - Contraseña')"></head>
<body>
<div th:replace="/fragments/cabecera"></div>
<div th:replace="/fragments/botonCss"></div>
<main>
<div class="absoluto mt-5">
    <div class="container">
        <!-- Título -->
        <div class="row align-items-center">
            <div class="col-2"></div>
            <div class="col">
                <h1 class="text-center mb-2">Login - Contraseña</h1>
            </div>
            <div class="col-2"></div>
        </div>

        <!-- Formulario de Registro -->
        <form th:action="@{/login/password}" method="post">
            <input type="hidden" name="susuario" th:value="${susuario}" />
            <div class="mb-3">
                <label for="contrasena" class="form-label">Contraseña</label>
                <input type="password" id="contrasena" name="contrasena" class="form-control">
            </div>
            <input type="checkbox" id="mostrarcontrasena" onclick="script()"><label for="mostrarcontrasena">&nbsp;Mostrar contraseña</label>
            <button type="submit" class="btn btn-primary w-100 mt-3">Iniciar sesión</button>
        </form>

        <a href="/login/recuperación" class="btn btn-secondary w-100 mt-3">¿Has olvidado la contraseña?</a>
        <!-- Mensaje de error (si existe) -->
        <p th:if="${error}" th:text="${error}" class="error-message"></p>
    </div>
</div>
</main>
<div th:replace="/fragments/pie"></div>
</body>
</html>
