<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Paso 1 - Datos personales</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script th:src="@{/js/mostrarContrasena.js}"></script>
</head>
<body>
<div class="absoluto mt-5">
    <div class="container">
        <!-- Título -->
        <div class="row align-items-center">
            <div class="col-2"></div>
            <div class="col">
                <h1 class="text-center mb-2">Paso 1 - Datos personales</h1>
            </div>
            <div class="col-2"></div>
        </div>

        <form th:action="@{/registro/paso1}" th:object="${paso1}" method="post" enctype="multipart/form-data">

            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre:</label>
                <input type="text" id="nombre" name="nombre" class="form-control" th:field="*{nombre}">
                <span class="error-message" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
            </div>

            <div class="mb-3">
                <label for="apellido" class="form-label">apellido:</label>
                <input type="text" id="apellido" name="apellido" class="form-control" th:field="*{apellido}">
                <span class="error-message" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></span>
            </div>

            <div class="mb-3">
                <label for="foto" class="form-label">foto:</label>
                <input type="file" id="foto" name="foto" class="form-control" th:field="*{foto}">
                <span class="error-message" th:if="${#fields.hasErrors('foto')}" th:errors="*{foto}"></span>
            </div>

            <div class="mb-3">
                <!--femenino tiene que ser el default-->
                <label class="form-label">Genero:</label>
                <div th:each="genero : ${generos}" class="form-check">
                    <input class="form-check-input" type="radio"
                           th:id="${genero.identidad}"
                           th:value="${genero.id}"
                           th:field="*{genero}" />
                    <label class="form-check-label" th:for="${genero.identidad}" th:text="${genero.identidad}"></label>
                </div>

                <!--Boton de deseleccionar radios-->
                <!--Boton de seleccionar el primer radio-->
                <button type="button" class="btn btn-secondary w-100 mt-2" onclick="deseleccionarGenero()">Deseleccionar género</button>

                <span class="error-message" th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}"></span>

            </div>

            <div class="mb-3">
                <label for="fechaNacimiento" class="form-label">Fecha de nacimiento:</label>
                <input type="text" id="fechaNacimiento" name="fechaNacimiento" class="form-control"
                       th:field="*{fechaNacimiento}">
                <span class="error-message" th:if="${#fields.hasErrors('fechaNacimiento')}"
                      th:errors="*{fechaNacimiento}"></span>
            </div>

            <div class="mb-3">
                <label for="edad" class="form-label">edad:</label>
                <input type="text" id="edad" name="edad" class="form-control" th:field="*{edad}">
                <span class="error-message" th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}"></span>
            </div>

            <!--hay que tener españa seleccionada-->
            <label for="pais">País:</label>
            <select id="pais" th:field="*{pais}" class="form-control">
                <option value="">Seleccione un país</option>
                <option th:each="pais : ${paises}" th:value="${pais.id}" th:text="${pais.nombre}"></option>
            </select>
            <button type="button" class="btn btn-secondary w-100 mt-2" onclick="deseleccionarPais()">Deseleccionar país</button>

            <div class="mb-3">
                <label for="comentarios" class="form-label">Comentarios:</label>
                <textarea id="comentarios" name="comentarios" class="form-control" th:field="*{comentarios}"
                          rows="4"></textarea>
                <span class="error-message" th:if="${#fields.hasErrors('comentarios')}"
                      th:errors="*{comentarios}"></span>
            </div>

            <button type="reset" class="btn btn-danger w-100 mt-2">Vaciar formulario</button>
            <button type="submit" class="btn btn-primary w-100">Paso 2 - Datos de contacto</button>
        </form>
        <!-- Mensaje de error (si existe) -->
        <p th:if="${error}" th:text="${error}" style="color: red;"></p>
    </div>
</div>
</body>
</html>