<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de empleado</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script th:src="@{/js/mostrarContrasena.js}"></script>
</head>
<body>
<div class="absoluto mt-5">
    <div class="container">
        <!-- Título -->
        <div class="row align-items-center">
            <div class="col-2"></div>
            <div class="col">
                <h1 class="text-center mb-2">Introduce los datos</h1>
            </div>
            <div class="col-2"></div>
        </div>
        <!-- Vincula el formulario al objeto "usuario" del modelo -->
        <form th:action="@{/empleado/registro}" th:object="${registroEmpleadoDTO}" method="post">

            <div class="mb-3">
                <label for="nombre" class="form-label">Usuario:</label>
                <input type="text" id="nombre" name="nombre" class="form-control" th:field="*{nombre}">
                <span class="error-message" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
            </div>

            <div class="mb-3">
                <label for="apellido" class="form-label">apellido:</label>
                <input type="text" id="apellido" name="apellido" class="form-control" th:field="*{apellido}">
                <span class="error-message" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></span>
            </div>

            <div class="mb-3">
                <label for="fechaNacimiento" class="form-label">Fecha de nacimiento:</label>
                <input type="date" id="fechaNacimiento" name="fechaNacimiento" class="form-control" th:field="*{fechaNacimiento}">
                <span class="error-message" th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}"></span>
            </div>

            <div class="mb-3">
                <label for="genero" class="form-label">genero:</label>
                <input type="text" id="genero" name="genero" class="form-control" th:field="*{genero}">
                <span class="error-message" th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}"></span>
            </div>

            <button type="submit" class="btn btn-primary w-100">Enviar</button>
        </form>
        <!-- Mensaje de error (si existe) -->
        <p th:if="${error}" th:text="${error}" style="color: red;"></p>
    </div>
</div>
</body>
</html>