<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paso 4 - Datos economicos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script th:src="@{/js/mostrarContrasena.js}"></script>
</head>
<body>
<div class="absoluto mt-5">
    <div class="container">
        <!-- Título -->
        <div class="row align-items-center">
            <div class="col-2"></div>
            <div class="col">
                <h1 class="text-center mb-2">Paso 4 - Datos Economicos</h1>
            </div>
            <div class="col-2"></div>
        </div>
        <!-- Vincula el formulario al objeto "usuario" del modelo -->
        <form th:action="@{/registro/usuario/paso4}" th:object="${paso4}" method="post">


            <label for="banco">Banco:</label>
            <select id="banco" th:field="*{cuentaCorriente.banco}" class="form-control">
                <option value="">Seleccione un Banco</option>
                <option th:each="banco : ${bancos}" th:value="${banco.id}" th:text="${banco.nombre}"></option>
            </select>

            <div class="mb-3">
                <label for="cuentaCorriente.numCuenta" class="form-label">Numero de cuenta:</label>
                <input type="text" id="cuentaCorriente.numCuenta" name="cuentaCorriente.numCuenta" class="form-control" th:field="*{cuentaCorriente.numCuenta}">
                <span class="error-message" th:if="${#fields.hasErrors('cuentaCorriente.numCuenta')}" th:errors="*{cuentaCorriente.numCuenta}"></span>
            </div>

            <div class="mb-3">
                <label for="salario" class="form-label">salario:</label>
                <input type="text" id="salario" name="salario" class="form-control" th:field="*{salario}">
                <span class="error-message" th:if="${#fields.hasErrors('salario')}" th:errors="*{salario}"></span>
            </div>

            <div class="mb-3">
                <label for="comision" class="form-label">comision:</label>
                <input type="text" id="comision" name="comision" class="form-control" th:field="*{comision}">
                <span class="error-message" th:if="${#fields.hasErrors('comision')}" th:errors="*{comision}"></span>
            </div>

            <h1> Tarjeta credito </h1>

            <label for="TipoTarjeta">Tipo de tarjeta:</label>
            <select id="TipoTarjeta" th:field="*{tarjetaCredito.tipoTarjeta}" class="form-control">
                <option value="">Seleccione un tipo de tarjeta de credito</option>
                <option th:each="tipo : ${tiposTarjeta}" th:value="${tipo.id}" th:text="${tipo.nombre}"></option>
            </select>

            <div class="mb-3">
                <label for="tarjetaCredito.numTarjeta" class="form-label">Numero de la tarjeta:</label>
                <input type="text" id="tarjetaCredito.numTarjeta" name="tarjetaCredito.numTarjeta" class="form-control" th:field="*{tarjetaCredito.numTarjeta}">
                <span class="error-message" th:if="${#fields.hasErrors('tarjetaCredito.numTarjeta')}" th:errors="*{tarjetaCredito.numTarjeta}"></span>
            </div>

<!--            MES Y AÑO CON SELECTS???-->

            <div class="mb-3">
            <label for="tarjetaCredito.cvc" class="form-label">CVC:</label>
            <input type="text" id="tarjetaCredito.cvc" name="tarjetaCredito.cvc" class="form-control" th:field="*{tarjetaCredito.cvc}">
            <span class="error-message" th:if="${#fields.hasErrors('tarjetaCredito.cvc')}" th:errors="*{tarjetaCredito.cvc}"></span>
        </div>

            <button type="submit" class="btn btn-primary w-100">pasar al resumen</button>
        </form>
        <!-- Mensaje de error (si existe) -->
        <p th:if="${error}" th:text="${error}" style="color: red;"></p>
    </div>
</div>
</body>
</html>