<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Token inválido</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script th:src="@{/js/script.js}"></script>

</head>

<body>
<div th:replace="~{/fragments/cabecera::cabecera}"></div>
<main>
<div class="absoluto mt-5">
    <div class="container">
        <!-- Título -->
        <div class="row align-items-center">
            <div class="col-2"></div>
            <div class="col">
                <h1 class="text-center mb-2 error-message">El token o email es inválido</h1>
            </div>
            <div class="col-2"></div>
        </div>

        <!-- Formulario de Registro -->
        <div class="mb-3">
            <a href="/login/username" class="btn btn-secondary w-100">Volver al inicio</a>
        </div>
    </div>
</div>
</main>
<div th:replace="~{/fragments/pie::pie}"></div>
</body>
</html>
