<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script th:src="@{/js/script.js}"></script>
</head>
<body>
<div th:replace="~{/fragments/cabecera::cabecera}"></div>
<main>
    <div th:replace="~{/fragments/cuentaatras::cuentaatras}"></div>
<div class="absoluto mt-5">
    <div class="container">
        <!-- Título -->
        <div class="row align-items-center mb-4">
            <div class="col-2"></div>
            <div class="col text-center">
                <h1>Bienvenido al Dashboard</h1>
            </div>
            <div class="col-2"></div>
        </div>

        <!-- Contenido del dashboard -->
        <form th:action="@{/login/logout}" method="get">
            <div class="mb-3">
                <p>Sesión iniciada como: <strong><span th:text="${usuario.getEmail()}"></span></strong></p>
                <div th:replace="~{/fragments/numinisesion::numinisesion}"></div>
                <p>
                    Parece que aún no eres empleado,
                    <a class="link-primary" href="/registro/empleado">regístrate aquí</a>.
                </p>
            </div>
            <button type="submit" class="btn btn-danger w-100">Cerrar sesión</button>
        </form>
    </div>
</div>
</main>
<div th:replace="~{/fragments/pie::pie}"></div>
</body>
</html>
